/* =========================================
TRANSFORM SECTION
========================================= */

.transform-section{
padding:100px 20px;
background:#ffffff;

}
.transform-container{
max-width:1150px;
margin:auto;
}
.transform-inner{
max-width:1100px;
margin:auto;
}

.section-title{
font-size:48px;
max-width: 800px;
font-weight:700;
margin-bottom:16px;
}

.section-sub{
font-size:clamp(18px,2vw,22px);
color:#6b7280;
margin-bottom:32px;
padding-top: 10px;
padding-bottom: 20px;
}

.compare-cols{
    width: 90%;
display:grid;
grid-template-columns:1fr 1px 1fr;
gap:20px;
margin-top:40px;
align-content: center;
}

.divider-line{
background:#e5e7eb;
}

.compare-col-title{
font-size:26px;
font-weight:600;
margin-bottom:20px;
padding-bottom:14px;
border-bottom:1.5px dashed #e5e7eb;
}

.compare-row{
display:flex;

text-align: start;
align-items:center;
gap:10px;
padding:12px 0;
font-size:18px;
color:#374151;
}

.compare-row:last-child{
border-bottom:none;
}

.x-icon{
color:#ef4444;
font-weight:900;
}

.check-icon{
color:#22c55e;
font-weight:900;
}

.left-col{
padding-right:20px;
}

.right-col{
padding-left:20px;
}

/* =========================================
MOBILE
========================================= */

@media (max-width:768px){
.section-title{
font-size:24px;
}
.section-sub{
font-size:16px;
}
.compare-cols{
grid-template-columns:1fr;
}
.compare-col-title{
    font-size: 16px;
    text-align: start;
}
.compare-row{
    font-size: 16px;
}

.divider-line{
display:none;
}

.left-col{
padding-right:0;
margin-bottom:30px;
}

.right-col{
padding-left:0;
}

}